/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 2:40:23 PM
    Author     : cuongnt
*/
@import "reset.css";

html {
    background: url('../images/bg1.jpg') #F58220 no-repeat top center;
    height: 980px;
}

a, a:active {
    color: #F58220;
}

a:hover {
    text-decoration: underline !important;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
}

#main-content {
    height: 100%;
}

div#header {
    height: 80px;
    text-align: right;
    padding: 10px;
}

div#header a {
    color: #f1f1f1;
    opacity: .5;
}



div#footer {

    height: 40px;
}

div#footer p {
    color: #f1f1f1;
    font-weight: bold;
    text-align: right;
    margin: 10px;
}

#mainNav {

}

#mainNav ul {
    height: 40px;
    display: block;
    border-radius: 10px 10px 10px 10px;
    background: #f1f1f1;
    padding: 0 8px;
/*    box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;*/
}

button, input[type=submit], a.button-link, input[type=button] {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 5px;
    background: #fff;
    color: #414141;
    border: 1px solid #515151;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px 5px 5px 0;
}

option {
    background: #fff;
    outline: none;
}


button:hover, input[type=submit]:hover,input[type=button]:hover, a.button-link:hover {
    background: #F58220;
    color: #f1f1f1;
}

#mainNav ul li {
    display: block;
    background: #f1f1f1;
}

#mainNav ul li a {
    /*    display:block;*/
    float: left;
    line-height: 12px;
    padding: 14px;
    color:  #414141;
    font-weight: bold;
}

#mainNav ul li a:hover {
    background:  #F58220;
    color: #f1f1f1;
}

/*main content*/
div#main-content {
    height: auto;
    margin:10px 0;
}

h1 {
    color: #414141;
    font-size: 18px;
}

/*datatable stylesheet*/

.data-table {
    border-collapse: collapse;
    margin: 10px 0;
}

.data-table-header {
    background: #F58220;
    font-weight: bold;
    padding: 5px;
    color: #f1f1f1;
}

.data-table-odd-row ,.data-table-even-row {
    padding: 10px;
}

.data-table-odd-row td,.data-table-even-row td{
    padding: 10px;
    color: #515151;
}

.data-table-even-row {

}

.data-table tr:hover {
    background: #f1f1f1;
}

.data-table-footer {
    padding: 10px;
}

.empty-table-message {
    color: red;
    font-weight: bold;
    font-style: italic;
}

/*form stylesheet*/

input[type=text], select {
    outline: none;
    border: 1px solid #c5c5c5;
    padding: 2px;
}

div.form-field {
    margin: 5px 0;
}

div.form-field label {
    min-width: 120px;
    display:block;
    float:left;
    color: #414141;
    font-weight: bolder;
}

.clear {
    clear: both;
}

.content {
    font-size: 13px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #fff;
    padding:20px 20px;
    padding-left: 30px;
    height: 760px;
    overflow: auto;
    color: #575757;
}
.document-title {
    color: #F58220;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.document-list {
    padding-left: 10px;
}

.document-list-item {
    border-bottom: 1px solid #c5c5c5;
    padding: 5px;
}

.document-list-item-description {
    min-height: 50px;
}

.document-list-item-title {
    text-transform: uppercase;
    display: block;
    padding: 5px 0;
    font-size: 16px;    
}

